body {
	margin: 0;
}

#container {
	margin-right:0px;
}

.square {
	width: 33.264%;
	height: 265px;
	display: block;
	margin: 0px;
	background-color: orange;
	border-right: 1px solid yellow;
	border-bottom: 1px solid yellow;
	float:left;
}